# Homework 3: Improving the Pipeline
- Using outcomes and projects data from the donors choose database from 2011-2013
- The goal is to predict, at posting time of a project, if a project will not get fully funded so we can intervene and help them improve the project listing.

In [41]:
import pandas as pd
from datetime import datetime

In [155]:
% run preprocess.py

In [144]:
outcomes = read_file('data/outcomes.csv', index='projectid')
projects = read_file('data/projects.csv', index='projectid')
outcomes = outcomes.fully_funded.to_frame()
joined = join_df(outcomes, projects)
joined.date_posted = pd.to_datetime(joined.date_posted)
df = joined[(joined.date_posted <= datetime(2013, 12, 31)) & (joined.date_posted >= datetime(2011, 1, 1))]
df.to_pickle('data/joined2011_2013.pkl')

In [ ]:
df = read_file('data/joined2011_2013.pkl')

In [146]:
copy = df.copy()

In [147]:
df.head()

,fully_funded,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,resource_type,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted
projectid,,,,,,,,,,,,,,,,,,,,,
ffffac55ee02a49d1abc87ba6fc61135,t,947066d0af47e0566f334566553dd6a6,103ed937d8d84fdffe8b87a4811f00bf,1.301230e+11,33.514296,-84.345336,Jonesboro,GA,30236.0,suburban,...,Technology,highest poverty,Grades PreK-2,35.0,207.43,244.04,8.0,f,f,2011-06-11
ffff2d9c769c8fb5335e949c615425eb,t,485784e52a4c85ea6783285d09d8aea4,f8e49225a821cc04e1176303e55d89ec,1.602640e+11,42.820593,-112.409161,Pocatello,ID,83204.0,urban,...,Technology,high poverty,Grades 3-5,30.0,579.74,682.05,25.0,f,f,2013-03-03
fffeebf4827d745aa36b17c2d38d1966,t,96c1a33b4f2b832595c3c6a01bc24c05,7bb6b1924a7bd181ab5568b062260966,6.346201e+10,38.654224,-121.308122,Fair Oaks,CA,95628.0,suburban,...,Other,highest poverty,Grades 6-8,30.0,797.30,938.00,11.0,f,f,2012-12-01
fffeaae9482c9b72cab5bbd3f061d362,f,f4623252bca640eaa810eb1feda47fe5,58cf2aa703a386b48409b450573a0a0c,4.033480e+11,35.513864,-97.735051,Yukon,OK,73099.0,suburban,...,Books,high poverty,Grades PreK-2,35.0,467.06,549.48,88.0,f,f,2011-07-26
fffe45b28ea6f2889de1e3f797fb31a3,t,defe5366f82c80715343e58cf95bd2ac,10a9c48f27d12ef702f27547db13a19b,8.069000e+10,39.875904,-105.031563,Westminster,CO,80030.0,suburban,...,Other,highest poverty,Grades 3-5,35.0,293.96,345.84,500.0,f,f,2012-01-14

In [154]:
check_missing(df)

school_ncesid 24858
school_metro 43021
school_district 429
primary_focus_subject 35
primary_focus_area 35
secondary_focus_subject 116086
secondary_focus_area 116086
resource_type 42
grade_level 6
students_reached 101

In [ ]:
DUMMIFY = ['school_metro', 'primary_focus_subject', 'primary_focus_area', 
           'secondary_focus_subject', 'secondary_focus_area', 
           'resource_type', 'grade_level']
df = categorical_dummies(df, DUMMIFY)

school_metro
school_district

In [133]:
df.head()

,fully_funded,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,resource_type_is_Supplies,resource_type_is_Technology,resource_type_is_Trips,resource_type_is_Visitors,resource_type_is_nan,grade_level_is_Grades 3-5,grade_level_is_Grades 6-8,grade_level_is_Grades 9-12,grade_level_is_Grades PreK-2,grade_level_is_nan
projectid,,,,,,,,,,,,,,,,,,,,,
ffffac55ee02a49d1abc87ba6fc61135,t,947066d0af47e0566f334566553dd6a6,103ed937d8d84fdffe8b87a4811f00bf,1.301230e+11,33.514296,-84.345336,Jonesboro,GA,30236.0,suburban,...,0,1,0,0,0,0,0,0,1,0
ffff2d9c769c8fb5335e949c615425eb,t,485784e52a4c85ea6783285d09d8aea4,f8e49225a821cc04e1176303e55d89ec,1.602640e+11,42.820593,-112.409161,Pocatello,ID,83204.0,urban,...,0,1,0,0,0,1,0,0,0,0
fffeebf4827d745aa36b17c2d38d1966,t,96c1a33b4f2b832595c3c6a01bc24c05,7bb6b1924a7bd181ab5568b062260966,6.346201e+10,38.654224,-121.308122,Fair Oaks,CA,95628.0,suburban,...,0,0,0,0,0,0,1,0,0,0
fffeaae9482c9b72cab5bbd3f061d362,f,f4623252bca640eaa810eb1feda47fe5,58cf2aa703a386b48409b450573a0a0c,4.033480e+11,35.513864,-97.735051,Yukon,OK,73099.0,suburban,...,0,0,0,0,0,0,0,0,1,0
fffe45b28ea6f2889de1e3f797fb31a3,t,defe5366f82c80715343e58cf95bd2ac,10a9c48f27d12ef702f27547db13a19b,8.069000e+10,39.875904,-105.031563,Westminster,CO,80030.0,suburban,...,0,0,0,0,0,1,0,0,0,0

In [137]:
def convert_boolean(x, val='t'):
    return 1 if x == val else 0

def gen_label(df, col, val='t'):
    df.label = df[col].apply(convert_boolean, args=(val,))
    df = df.drop(col, axis=1)
    return df

In [138]:
df = gen_label(df, 'fully_funded', 't')

In [143]:
df.school_metro.value_counts()

urban       178344
suburban     90375
rural        41411
Name: school_metro, dtype: int64

In [89]:
df.dtypes

fully_funded                                              object
teacher_acctid                                            object
schoolid                                                  object
school_ncesid                                            float64
school_latitude                                          float64
school_longitude                                         float64
school_city                                               object
school_state                                              object
school_zip                                               float64
school_metro                                              object
school_district                                           object
school_county                                             object
school_charter                                            object
school_magnet                                             object
school_year_round                                         object
school_nlns                                               object
school_kipp                                               object
school_charter_ready_promise                              object
teacher_prefix                                            object
teacher_teach_for_america                                 object
teacher_ny_teaching_fellow                                object
primary_focus_subject                                     object
primary_focus_area                                        object
secondary_focus_subject                                   object
secondary_focus_area                                      object
resource_type                                             object
poverty_level                                             object
grade_level                                               object
fulfillment_labor_materials                              float64
total_price_excluding_optional_support                   float64
                                                       ...
eligible_almost_home_match                                object
date_posted                                       datetime64[ns]
primary_focus_subject_is_Applied Sciences                  uint8
primary_focus_subject_is_Character Education               uint8
primary_focus_subject_is_Civics & Government               uint8
primary_focus_subject_is_College & Career Prep             uint8
primary_focus_subject_is_Community Service                 uint8
primary_focus_subject_is_ESL                               uint8
primary_focus_subject_is_Early Development                 uint8
primary_focus_subject_is_Economics                         uint8
primary_focus_subject_is_Environmental Science             uint8
primary_focus_subject_is_Extracurricular                   uint8
primary_focus_subject_is_Foreign Languages                 uint8
primary_focus_subject_is_Gym & Fitness                     uint8
primary_focus_subject_is_Health & Life Science             uint8
primary_focus_subject_is_Health & Wellness                 uint8
primary_focus_subject_is_History & Geography               uint8
primary_focus_subject_is_Literacy                          uint8
primary_focus_subject_is_Literature & Writing              uint8
primary_focus_subject_is_Mathematics                       uint8
primary_focus_subject_is_Music                             uint8
primary_focus_subject_is_Nutrition                         uint8
primary_focus_subject_is_Other                             uint8
primary_focus_subject_is_Parent Involvement                uint8
primary_focus_subject_is_Performing Arts                   uint8
primary_focus_subject_is_Social Sciences                   uint8
primary_focus_subject_is_Special Needs                     uint8
primary_focus_subject_is_Sports                            uint8
primary_focus_subject_is_Visual Arts                       uint8
primary_focus_subject_is_nan                               uint8
Length: 63, dtype: object

In [63]:
for col in df.columns:
    print(df[col].describe())

count     353151
unique         2
top            t
freq      247698
Name: fully_funded, dtype: object
count                               353151
unique                              157144
top       214acf23d183dfa2f1dc16e7b3658320
freq                                   174
Name: teacher_acctid, dtype: object
count                               353151
unique                               44833
top       9943fdb43ab5f2b53f27e961caf9e90a
freq                                   476
Name: schoolid, dtype: object
count    3.282930e+05
mean     2.503127e+11
std      1.648173e+11
min      1.000050e+10
25%      6.372301e+10
50%      2.400090e+11
75%      3.904440e+11
max      6.100008e+11
Name: school_ncesid, dtype: float64
count    353151.000000
mean         36.868563
std           4.927417
min          18.249140
25%          33.916387
50%          36.675826
75%          40.680488
max          67.258157
Name: school_latitude, dtype: float64
count    353151.000000
mean        -95.398318
std          18.118360
min        -171.690554
25%        -117.246823
50%         -89.886438
75%         -80.761902
max         -66.628036
Name: school_longitude, dtype: float64
count          353151
unique           7724
top       Los Angeles
freq            15444
Name: school_city, dtype: object
count     353151
unique        51
top           CA
freq       77915
Name: school_state, dtype: object
count    353151.000000
mean      56301.763713
std       31043.523511
min         410.000000
25%       29388.000000
50%       60613.000000
75%       90007.000000
max       99926.000000
Name: school_zip, dtype: float64
count     310130
unique         3
top        urban
freq      178344
Name: school_metro, dtype: object
count                        352722
unique                         7890
top       Los Angeles Unif Sch Dist
freq                          29305
Name: school_district, dtype: object
count          353151
unique           1618
top       Los Angeles
freq            35285
Name: school_county, dtype: object
count     353151
unique         2
top            f
freq      319798
Name: school_charter, dtype: object
count     353151
unique         2
top            f
freq      323113
Name: school_magnet, dtype: object
count     353151
unique         2
top            f
freq      335819
Name: school_year_round, dtype: object
count     353151
unique         2
top            f
freq      348988
Name: school_nlns, dtype: object
count     353151
unique         2
top            f
freq      350807
Name: school_kipp, dtype: object
count     353151
unique         2
top            f
freq      350991
Name: school_charter_ready_promise, dtype: object
count     353151
unique         4
top         Mrs.
freq      171005
Name: teacher_prefix, dtype: object
count     353151
unique         2
top            f
freq      335816
Name: teacher_teach_for_america, dtype: object
count     353151
unique         2
top            f
freq      349545
Name: teacher_ny_teaching_fellow, dtype: object
count       353116
unique          27
top       Literacy
freq        108723
Name: primary_focus_subject, dtype: object
count                  353116
unique                      7
top       Literacy & Language
freq                   161977
Name: primary_focus_area, dtype: object
count                   237065
unique                      27
top       Literature & Writing
freq                     35205
Name: secondary_focus_subject, dtype: object
count                  237065
unique                      7
top       Literacy & Language
freq                    85484
Name: secondary_focus_area, dtype: object
count         353109
unique             6
top       Technology
freq          124485
Name: resource_type, dtype: object
count              353151
unique                  4
top       highest poverty
freq               193518
Name: poverty_level, dtype: object
count            353145
unique                4
top       Grades PreK-2
freq             134998
Name: grade_level, dtype: object
count    353151.000000
mean         32.220311
std           2.484309
min          30.000000
25%          30.000000
50%          30.000000
75%          35.000000
max          35.000000
Name: fulfillment_labor_materials, dtype: float64
count    353151.000000
mean        531.372372
std         844.069364
min          37.030000
25%         288.750000
50%         427.270000
75%         606.720000
max      139725.410000
Name: total_price_excluding_optional_support, dtype: float64
count    353151.000000
mean        625.143964
std         993.022780
min          43.560000
25%         339.710000
50%         502.670000
75%         713.790000
max      164382.840000
Name: total_price_including_optional_support, dtype: float64
count    353050.000000
mean         94.187169
std         156.987405
min           1.000000
25%          23.000000
50%          31.000000
75%         100.000000
max       12143.000000
Name: students_reached, dtype: float64
count     353151
unique         2
top            f
freq      241193
Name: eligible_double_your_impact_match, dtype: object
count     353151
unique         2
top            f
freq      337514
Name: eligible_almost_home_match, dtype: object
count                  353151
unique                   1096
top       2012-09-30 00:00:00
freq                     1490
first     2011-01-01 00:00:00
last      2013-12-31 00:00:00
Name: date_posted, dtype: object

projectid - project's unique identifier 
teacher_acctid - teacher's unique identifier (teacher that created a project)
schoolid - school's unique identifier (school where teacher works)
school_ncesid - public National Center for Ed Statistics id
school_latitude, school_longitude
school_city, school_state, school_zip, school_metro, school_district, school_county
school_charter - whether a public charter school or not (no private schools in the dataset)
school_magnet - whether a public magnet school or not
school_year_round - whether a public year round school or not
school_nlns - whether a public nlns school or not
school_kipp - whether a public kipp school or not
school_charter_ready_promise - whether a public ready promise school or not
teacher_prefix - teacher's gender
teacher_teach_for_america - Teach for America or not
teacher_ny_teaching_fellow - New York teaching fellow or not
primary_focus_subject - main subject for which project materials are intended
primary_focus_area - main subject area for which project materials are intended
secondary_focus_subject - secondary subject
secondary_focus_area - secondary subject area
resource_type - main type of resources requested by a project
poverty_level - school's poverty level. 
highest: 65%+ free of reduced lunch
high: 40-64%
moderate: 10-39%
low: 0-9%
grade_level - grade level for which project materials are intended
fulfillment_labor_materials - cost of fulfillment
total_price_excluding_optional_support - project cost excluding optional tip that donors give to DonorsChoose.org while funding a project 
total_price_including_optional_support - see above
students_reached - number of students impacted by a project (if funded)
eligible_double_your_impact_match - project was eligible for a 50% off offer by a corporate partner (logo appears on a project, like Starbucks or Disney)
eligible_almost_home_match - project was eligible for a $100 boost offer by a corporate partner
date_posted - data a project went live on the site

donations.csv
donationid - unique donation identifier
projectid - unique project identifier (project that received the donation)
donor_acctid - unique donor identifier (donor that made a donation)
donor_city
donor_state
donor_zip
is_teacher_acct - donor is also a teacher
donation_timestamp
donation_to_project - amount to project, excluding optional support (tip)
donation_optional_support - amount of optional support
donation_total - donated amount
dollar_amount - donated amount in US dollars
donation_included_optional_support - whether optional support (tip) was included for DonorsChoose.org
payment_method - what card/payment option was used
payment_included_acct_credit - whether a portion of a donation used account credits redemption
payment_included_campaign_gift_card - whether a portion of a donation included corporate sponsored giftcard
payment_included_web_purchased_gift_card - whether a portion of a donation included citizen purchased giftcard (ex: friend buy a giftcard for you)
payment_was_promo_matched - whether a donation was matched 1-1 with corporate funds
via_giving_page - donation given via a giving / campaign page (example: Mustaches for Kids)
for_honoree - donation made for an honoree
donation_message - donation comment/message. Used to calcualte great_chat